body{
    background: #eaebef;
    color: #212121;
    .white-card{
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.32);
        padding: 15px;
        margin-top: 20px;
        position: relative;
        &:first-child{
            margin-top: 0;
        }
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .user-profile-wrapper{
        background-size: contain;
        border-radius: 50%;
        width: 44px;
        margin: 0 8px 0 0;
        padding: 2px;
        .user-profile-icon{
            border: 2px solid #fff;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background-size: 100% 100%;
        }
    }
    .social-posts-wrapper{
        width: 50%;
        padding: 20px 0;
        margin: auto;
        transition: width 0.3s linear;
        @media only screen and (max-width: 1024px) {
            width: 75%;
        }
        @media only screen and (max-width: 768px) {
            width: calc(100% - 30px);
        }
        .post-list-container {
            margin: auto;
            .author-container {
                display: flex;
                font-size: 13px;
                .user-profile-wrapper {
                    background-color: #fc7585;
                }
                .user-name{
                    color: #000;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 15px;
                }
                .user-lifestage-status {
                    color: #9b9b9b;
                    font-size: 12px;
                    font-style: italic;
                    line-height: 20px;
                    margin: 0;
                }
            }
            .sub-post-container {
                margin-top: 20px;
                .text-container {
                    font-size: 14px;
                }
            }
            .interaction-container{
                margin-top: 10px;
                .interaction-row{
                    display: flex;
                    margin: 0 -15px;
                    padding: 10px 15px;
                    border-top: 1px solid #eee;
                    &:first-child {
                        border-top: none;
                        color: #9b9b9b;
                        font-size: 11px;
                    }
                    > :first-child{
                        margin-right: 10px;
                    }
                    .icon-container{
                        font-size: 12px;
                        color: #4a4a4a;
                        span{
                            font-size: 14px;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .comment-conatainer {
                .add-comment {
                    display: flex;
                    margin: 0 -15px;
                    padding: 15px 15px 0 15px;
                    border-top: 1px solid #eee;
                    .user-profile-icon {
                        box-shadow: inset 0 0 1px #666;
                        height: 32px;
                        width: 32px;
                    }
                    .write-something-wrapper {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        input {
                            border: none;
                            box-shadow: none;
                            outline: none;
                            width: calc(100% - 65px);
                            color: #999;
                            display: inline-block;
                            font-size: 12px;
                            margin: 0;
                        }
                        button {
                            background: transparent;
                            border: none;
                            outline: none;
                            color: #fc7585;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}